<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap os="linux" dll="openal32.dll" target="libopenal.so.1"/>
  <dllmap os="linux" dll="alut.dll" target="libalut.so.0"/>
  <dllmap os="osx" dll="openal32.dll" target="/System/Library/Frameworks/OpenAL.framework/OpenAL" />

  <dllmap dll="onig.dll" os="windows" target="onig.dll"/>
  <dllmap dll="onig.dll" os="osx" target="lib/osx/libonig.5.dylib"/>

	<dllmap dll="onig.dll" os="linux" cpu="x64" wordsize="64" target="lib/linux/x64/libonig.so.5" />
	<dllmap dll="onig.dll" os="linux" cpu="arm64" wordsize="64" target="lib/linux/arm64/libonig.so.5" />
	<dllmap dll="onig.dll" os="linux" cpu="armv8" wordsize="64" target="lib/linux/arm64/libonig.so.5" />
	<dllmap dll="onig.dll" os="linux" cpu="arm" target="lib/linux/arm/libonig.so.5" />
</configuration>
