<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--	<dllmap dll="freetype.dll" wordsize="64" target="Vendor/freetype/freetype-x86_64-ubuntu-Release/freetype.so"    os="linux"   cpu="x86-64,x64,amd64" />
	<dllmap dll="freetype.dll" wordsize="32" target="Vendor/freetype/freetype-armv7-ubuntu-Release/freetype.so"     os="linux"   cpu="arm,armv7,arm32"  />
	<dllmap dll="freetype.dll" wordsize="64" target="Vendor/freetype/freetype-aarch64-ubuntu-Release/freetype.so"   os="linux"   cpu="armv8,arm64"   	/>
-->

	<dllmap dll="freetype.dll" wordsize="64" target="libfreetype.so.6"    os="linux"   cpu="x86-64,x64,amd64" />
	<dllmap dll="freetype.dll" wordsize="32" target="libfreetype.so.6"     os="linux"   cpu="arm,armv7,arm32"  />
	<dllmap dll="freetype.dll" wordsize="64" target="libfreetype.so.6"   os="linux"   cpu="armv8,arm64"   	/>


	<dllmap dll="freetype.dll" wordsize="64" target="Vendor/freetype/freetype-x86_64-windows-Release/freetype.dll"  os="windows" cpu="x86-64,x64,amd64" />
	<dllmap dll="freetype.dll" wordsize="64" target="Vendor/freetype/freetype-aarch64-windows-Release/freetype.dll" os="windows" cpu="armv8,arm64"      />
	<dllmap dll="freetype.dll" wordsize="64" target="Vendor/freetype/freetype-x86_64-macos-Release/freetype.dylib"  os="osx"     cpu="x86-64,x64,amd64" />
	<dllmap dll="freetype.dll" wordsize="64" target="Vendor/freetype/freetype-aarch64-macos-Release/freetype.dylib" os="osx"  	 cpu="armv8,arm64"      />
</configuration>
